@import '../../styles/params';


.menu-items-card {
    color: $color_2;

    .card-top {
        width: 100%;
        height: 40%;

        .img-cover {
            width: 100%;
            height: 100%;


            .img-file {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .card-bottom {
        padding: .8rem;

        .dish-title {
            color: $color_3;
        }
        .p-description {
            font-family: $font_sec;
            font-weight: 400;
        }
        .ingredients {
            padding-top: .8rem;
            font-weight: 200;
            font-family: $font_sec;
            font-size: small;
        }
    }
}