@import '../../styles/params';

#exampleInputEmail1 {
    color: $color_2;
}

.inset-shadow {
    box-shadow: 1px 1px 21px 1px rgba(11, 11, 11, 1) inset;
    -webkit-box-shadow: 1px 1px 21px 1px rgba(11, 11, 11, 1) inset;
    -moz-box-shadow: 1px 1px 21px 1px rgba(11, 11, 11, 1) inset;
}