@import './params';

html {
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font_prim;
    -webkit-text-size-adjust: 100%;
}
.a-text {
    color: $color_3;
    font-weight: 700;
    &:hover {
        text-decoration: underline;
    }
}
.wd-100 {
    width: 100%;
}

.max-wid-1100 {
    max-width: 1100px;
}

.max-wid-768 {
    max-width: 768px;
}
.display-flex {
    display: flex;
}
.items-center {
    align-items: center;
}

.margin-auto {
    margin: 0 auto;
}

.padding-2r {
    padding: 2rem;
}

.padding-t-2r {
    padding: 2rem 0;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}
.ft-w400 {
    font-weight: 400;
}
.ft-s-1rem {
    font-size: 1rem;
}
.ft-s-08rem {
    font-size: .8rem;
}
.bg-grey {
    background-color: #efefef;
}
.bg-tomato {
    background-color: tomato;
}
.bg-primary {
    background-color: $color_1;
}
.bg-secondary {
    background-color: $color_2;
}
.bg-optional {
    background-color: $color_3;
}
.text-color-1 {
    color: $color_1;
}
.text-color-2 {
    color: $color_2;
}
.text-capi {
    text-transform: capitalize;
}
.new-section-border {
    border-top: 3px solid #e6e5e5;
    padding: 4.5rem 1rem;
}
