@import '../../styles/params';

.home {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 100%;

    .header {
        min-height: 100%;
        height: 100vh;
        background: url('https://images.pexels.com/photos/4253320/pexels-photo-4253320.jpeg?cs=srgb&dl=pexels-cottonbro-4253320.jpg&fm=jpg') repeat fixed 100%;
        background-size: cover;
        display: flex;

        .top-wrapper {
            margin: 0 auto;
            max-width: 1100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .title {
                h1 {
                    color: $white;
                    text-align: center;
                    font-size: 6vw;
                    font-family: $font_terc;
                    text-shadow: $text_shadow_1;
                }
            }

            .sub-title {
                h2 {
                    padding-top: 1em;
                    color: $color_4;
                    text-align: center;
                    font-size: 3vw;
                    font-family: $font_prim;
                    text-shadow: $text_shadow_2;
                }
            }
        }
    }
}


@media screen and (max-width: 720px) {
    .home {
        .header {
            .top-wrapper {
                max-width: 350px;
    
                .title {
                    h1 {
                        color: $white;
                        text-align: center;
                        font-size: 3.5em;
                        font-weight: bold;
                        font-family: $font_terc;
                        text-shadow: $text_shadow_1;
                    }
                }
    
                .sub-title {
                    h2 {
                        padding-top: 1em;
                        color: $color_4;
                        text-align: center;
                        font-size: 1.8em;
                        font-family: $font_prim;
                        text-shadow: $text_shadow_2;
                    }
                }
            }
        }
    }
}