@import '../../styles/params';

.packs_section {
    border-top: 2px solid $color_3;
    padding-bottom: 4.5em;

    .packs-wrapper {
        background: rgb(255, 255, 255);
        max-width: 1100px;
        margin: 0 auto;
        height: 100%;


        .packs_name {

            .title_wrapper {
                padding: 5em 0 1em 0;

                .title {
                    text-align: center;
                    font-weight: 600;
                    font-size: 2rem;
                    text-transform: uppercase;
                }
            }
        }

        .menu_map {
            margin: 0 auto;
            padding: 1em 4em;
            max-width: 1100px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
        }

        .menu_map>* {
            flex: 1 1 20rem;

        }
    }
}

@media screen and (max-width: 720px) {
    .packs_section {
        .menu_map {
            padding: 1em !important;
            gap: .8em;
        }

        .menu_map>* {
            flex: 1 1 20rem;

        }
    }
}