@import '../../styles/params';

.packs_section {
    background: rgb(255, 255, 255);
    max-width: 1100px;
    margin: 0 auto;
    height: 100vh;

    .packs_name {
        .title_wrapper {
            padding: 2em;
            .title {
                text-align: center;
                font-weight: 400;
                font-size: 2rem;
            }
        }
    }

    .menu_map {
        margin: 0 auto;
        padding: 1em 4em;
        border-top: .01px solid $color_3;
        border-bottom: .01px solid $color_3;
        max-width: 1100px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: .5em;
    }

    .menu_map>* {
        flex: 1 1 20rem;

    }
}

@media screen and (max-width: 720px) {
    .packs_section {
        .menu_map {
            padding: 1em .8em;
            gap: .8em;
        }
        .menu_map>* {
            flex: 1 1 20rem;
    
        }
    }
}