@import '../../styles/params';


#line-top-featured {
    position: absolute;
    height: 2px;
    width: 15%;
    right: 0;
    top: -15px;
    background-color: $color_2;
}

#line-top-featured::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    right: -5px;
    top: -5px;
    border-top-right-radius: 3px;
    background-color: rgb(121, 121, 121);
}

#line-right-featured {
    position: absolute;
    height: 15%;
    width: 2px;
    right: 0;
    top: -15px;
    background-color: $color_2;
}

#line-right-featured::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    right: -5px;
    top: -5px;
    background-color: rgb(121, 121, 121);
}

/* BOTTOM LINES */
#line-bottom-featured {
    position: absolute;
    height: 2px;
    width: 15%;
    left: 0;
    bottom: -15px;
    background-color: $color_2;
}

#line-bottom-featured::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: -5px;
    bottom: -5px;
    border-bottom-left-radius: 3px;
    background-color: rgb(121, 121, 121);
}

#line-left-featured {
    position: absolute;
    height: 15%;
    width: 2px;
    left: 0;
    bottom: -15px;
    background-color: $color_2;
}

#line-left-featured::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    right: 5px;
    top: 5px;
    background-color: rgb(121, 121, 121);
}




.dish-card-wrapper {
    width: 190vh;
    margin: .1rem;
    color: $color_2;
    height: fit-content;

    .set-title {
        display: flex;
        min-width: 100%;
        flex-direction: row;
        justify-content: flex-end;

        .title-wrapper {
            width: 50%;
            text-align: center;
            margin: 0 auto;
            padding: 2rem 0;
        }

        .title {
            font-size: 2rem;
            letter-spacing: 2px;
            text-transform: uppercase;

            span {
                font-size: 1.125rem;
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .left {
            width: 50%;
            height: 100%;
            padding: 2rem;

            .img-wrapper {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                position: relative;
                padding: 0 1rem;

                .picture {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    padding: 1.5rem;
                }
            }
        }

        .right {
            flex: 1;
            gap: 3rem;
            width: 50%;
            height: 100%;
            display: flex;
            grid-gap: 2rem;
            padding: 1rem 0;
            min-width: 380px;
            flex-direction: column;
            justify-content: center;

            .dish-title {
                font-size: 1.2rem;
                font-weight: 400;
                text-align: center;
                text-transform: capitalize;
                padding-bottom: 2rem;
            }

            .content-spects {
                gap: .5rem;
                width: 100%;
                display: flex;
                margin: 0 auto;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;


                .content-wrappers {
                    gap: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    width: 50%;

                    .label {
                        flex: 1;

                        text-transform: uppercase;
                        font-size: 1.6rem;
                        font-weight: 500;
                        letter-spacing: 1px;
                        text-align: center;

                    }

                    .description {
                        flex: 1;
                        text-align: center;
                        font-size: 1rem;
                    }

                }
            }
        }
    }
}